body {
    padding: 0;
    margin: 0;

}

/******************************************
GLITCH TEXT STYLING AND ANIMATIONS
*******************************************/

/** Add one giant @keyframes here (about 30 lines) **/
@keyframes glitch-text {
    0% {
        transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    } 2% {
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    } 4% {
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    } 5% {
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    } 6% {
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    } 7% {
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    } 8% {
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    } 9% {
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    } 9.9% {
        transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
    } 10%, 77% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    } 78% {
        transform: translate3d(20px, 0, 0);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    } 79% {
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    } 80%, 100% {
        transform: translate3d(0, 0, 0);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.title-section {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glitch-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 5vw;
    color: #1ec503;
    /** Add animation here **/
    animation-name: glitch-text;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/******************************************
FALLING CODE STYLING AND ANIMATIONS
*******************************************/
.front {
    z-index: 2;
}

.back {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

/*https://stackoverflow.com/questions/4264527/vertical-text-direction*/
.scroll-text-1 {
    color: white;
    font-size: 1.5vw;
    font-family: 'Press Start 2P', cursive;
    text-orientation: upright;
    writing-mode: vertical-rl;
    animation: fall1 9s linear infinite;
}

.scroll-text-2 {
    color: white;
    font-size: 1.5vw;
    font-family: 'Press Start 2P', cursive;
    text-orientation: upright;
    writing-mode: vertical-rl;
    animation: fall1 13s linear infinite;
}

#text-lines {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* inspo from https://codepen.io/anon/pen/vMgpPB */
@keyframes fall1 {
    0% {
        transform: translateY(-50vh);
    }
    80%, 100% {
        transform: translateY(100vh);
    }
}

@keyframes fall2 {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(100vh);
    }
}

/******************************************
FLIPPING PUN STYLING AND ANIMATIONS
*******************************************/
.pun-flip-section {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Press Start 2P", cursive;
    text-align: center;
    font-size: 1.5vw;
    color: #1ec503;
}

.card-front h2, .card-back h2 {
    padding: 1vw;
}

/* inspo from https://codepen.io/edeesims/pen/iGDzk */
.card-flip {
    width: 24vw;
    height: 24vw;
    perspective: 1000px;
}

.card-flip-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

.card-flip:hover .card-flip-inner, .card-back {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #000000;
}

/******************************************
SLIDING HIDDEN MESSAGE STYLING AND ANIMATIONS
*******************************************/
.hidden-message-section {
    height: 100vh;
    width: 100vw;
    background-color: #1ec503;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* the following css is inspired from: https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ */
.slider {
    width: 40vw;
    text-align: center;
}

.slides {
    display: flex;
    overflow-x: auto;
}

.slides > div {
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    font-size: 2vw;
    flex-shrink: 0;
    width: 40vw;
    height: 30vw;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}


/******************************************
HEART HOVER SECTION STYLING AND ANIMATIONS
*******************************************/
#title {
    font-size: 2.5vw;
    font-family: 'Press Start 2P', cursive;
    color: #1ec503;
}

.heart-hover-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heart-container {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.heart {
    position: relative;
    transition: all .8s ease-in-out;
}

.heart img {
   height: 30vw;
}

.heart p {
    font-size: 1.5vw;
    font-family: 'Press Start 2P', cursive;
    color: #1ec503;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#h1:hover {

}

#h2:hover {

}

#h3:hover {

}

@keyframes shake {

}

@keyframes beat {

}
